.App {
  font-family: sans-serif;
}

.carousel {
  display: flex;
  align-items: center;
  position: relative;
  /* height: 400px; */
}

.prev-button,
.next-button {
  padding: 0 15px;
  position: absolute;
  align-items: center;
  display: inline-flex;
  /* box-shadow: inset 10px 0 30px #656161; */
  /* height: 100%; */
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

.next-button {
  right: 0px;
}

.carousel-img {
  width: 100%;
  height: 80vh;
}
